// Import google fonts

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&display=swap");

// Color variables obtained from style-guide

$Very-dark-blue: hsl(233, 47%, 7%);
$Dark-desaturated: hsl(244, 38%, 16%);
$Soft-violet: hsl(277, 64%, 61%);
$Soft-violet-overlay: hsla(277, 64%, 61%, 0.5);

$White: hsl(0, 0%, 100%);
// main paragraph
$Slightly-transparent-one: hsla(0, 0%, 100%, 0.75);
// stat headings
$Slightly-transparent-two: hsla(0, 0%, 100%, 0.6);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  height: 100vh;
}

body {
  background-color: $Very-dark-blue;
  margin: 20px;
  color: $White;
  .container {
    background-color: $Dark-desaturated;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    .img {
      background-image: url(../images/image-header-mobile.jpg);
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      height: 250px;
      .overlay {
        background-color: $Soft-violet-overlay;
        height: 100%;
      }
    }
    .info {
      padding: 30px 30px 0 30px;
      h2 {
        font-family: "inter";
        line-height: 1.6;
        letter-spacing: -1px;
        margin-bottom: 20px;
        .purple {
          color: $Soft-violet;
          font-weight: 700;
        }
      }
      .paragraph {
        font-family: "inter";
        line-height: 1.8;
        margin-bottom: 30px;
      }
      ul li {
        margin-bottom: 20px;
        font-family: "inter";
        color: $Slightly-transparent-two;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1.5px;
        span {
          margin-top: 10px;
          display: block;
          font-family: "Lexend Deca";
          color: $White;
          font-size: 28px;
          letter-spacing: 0;
        }
      }
    }
  }
}

// @media screen and (min-width: 768px) {
//   body {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     .container {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       .img,
//       .info {
//         width: 350px;
//       }
//     }
//   }
// }
